#faceMainBox{display: -webkit-box;transform: translate3d(0%, 0px, 0px);
-webkit-transition:all 0.5s;
}
#navTabBox{  margin: 0 auto;
  height: 10px;
  line-height: 8px;
  text-align: center;}
#navTabBox>li{  display: inline-block;
  margin: 2px 6px;
  width: 6px;
  height: 2px;
  line-height: 0;
  text-align: center;
  color: transparent;
  background: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;}
#navTabBox>li.current{background-color: #ff8200;}
.replyer-panel .emoji{padding:0 10px;}
.replyer-panel .emoji>i{font-size:30px;}
.content-tab-face{width: 100%;}
.face-main{display:none;}
.face.face_1 {
  background-image: url(../images/face/face-1.png);
}
.face.face_2 {
  background-image: url(../images/face/face-2.png);
}
.face.face_3 {
  background-image: url(../images/face/face-3.png);
}
.face.face_4 {
  background-image: url(../images/face/face-4.png);
}
.face {
  float: left;
  margin: 4px 0;
  width: 14.28%;
  height: 32px;
  background-repeat: no-repeat;
  -webkit-background-size: 32px auto;
  background-size: 32px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.face.icon_0 {
    background-position: 50% 0
}

.face.icon_1 {
    background-position: 50% -32px
}

.face.icon_2 {
    background-position: 50% -64px
}

.face.icon_3 {
    background-position: 50% -96px
}

.face.icon_4 {
    background-position: 50% -128px
}

.face.icon_5 {
    background-position: 50% -160px
}

.face.icon_6 {
    background-position: 50% -192px
}

.face.icon_7 {
    background-position: 50% -224px
}

.face.icon_8 {
    background-position: 50% -256px
}

.face.icon_9 {
    background-position: 50% -288px
}

.face.icon_10 {
    background-position: 50% -320px
}

.face.icon_11 {
    background-position: 50% -352px
}

.face.icon_12 {
    background-position: 50% -384px
}

.face.icon_13 {
    background-position: 50% -416px
}

.face.icon_14 {
    background-position: 50% -448px
}

.face.icon_15 {
    background-position: 50% -480px
}

.face.icon_16 {
    background-position: 50% -512px
}

.face.icon_17 {
    background-position: 50% -544px
}

.face.icon_18 {
    background-position: 50% -576px
}

.face.icon_19 {
    background-position: 50% -608px
}

.face.icon_20 {
    background-position: 50% -640px
}

.face.icon_21 {
    background-position: 50% -672px
}

.face.icon_22 {
    background-position: 50% -704px
}

.face.icon_23 {
    background-position: 50% -736px
}

.face.icon_24 {
    background-position: 50% -768px
}

.face.icon_25 {
    background-position: 50% -800px
}

.face.icon_26 {
    background-position: 50% -832px
}

.face.icon_27 {
    background-position: 50% -864px
}

/*--编译后的样式--*/
.replyer-emoji-box .face{overflow: hidden;
  text-indent: -300px;
  float: none;
  display: inline-block;
  margin: 0 2px;
  width: 22px;
  height: 22px;
  vertical-align: top;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;}
.replyer-emoji-box .face.icon_0 {
    background-position: 50% 0
}

.replyer-emoji-box .face.icon_1 {
    background-position: 50% -22px
}

.replyer-emoji-box .face.icon_2 {
    background-position: 50% -44px
}

.replyer-emoji-box .face.icon_3 {
    background-position: 50% -66px
}

.replyer-emoji-box .face.icon_4 {
    background-position: 50% -88px
}

.replyer-emoji-box .face.icon_5 {
    background-position: 50% -110px
}

.replyer-emoji-box .face.icon_6 {
    background-position: 50% -132px
}

.replyer-emoji-box .face.icon_7 {
    background-position: 50% -154px
}

.replyer-emoji-box .face.icon_8 {
    background-position: 50% -176px
}

.replyer-emoji-box .face.icon_9 {
    background-position: 50% -198px
}

.replyer-emoji-box .face.icon_10 {
    background-position: 50% -220px
}

.replyer-emoji-box .face.icon_11 {
    background-position: 50% -242px
}

.replyer-emoji-box .face.icon_12 {
    background-position: 50% -264px
}

.replyer-emoji-box .face.icon_13 {
    background-position: 50% -286px
}

.replyer-emoji-box .face.icon_14 {
    background-position: 50% -308px
}

.replyer-emoji-box .face.icon_15 {
    background-position: 50% -330px
}

.replyer-emoji-box .face.icon_16 {
    background-position: 50% -352px
}

.replyer-emoji-box .face.icon_17 {
    background-position: 50% -374px
}

.replyer-emoji-box .face.icon_18 {
    background-position: 50% -396px
}

.replyer-emoji-box .face.icon_19 {
    background-position: 50% -418px
}

.replyer-emoji-box .face.icon_20 {
    background-position: 50% -440px
}

.replyer-emoji-box .face.icon_21 {
    background-position: 50% -462px
}

.replyer-emoji-box .face.icon_22 {
    background-position: 50% -484px
}

.replyer-emoji-box .face.icon_23 {
    background-position: 50% -506px
}

.replyer-emoji-box .face.icon_24 {
    background-position: 50% -528px
}

.replyer-emoji-box .face.icon_25 {
    background-position: 50% -550px
}

.replyer-emoji-box .face.icon_26 {
    background-position: 50% -572px
}

.replyer-emoji-box .face.icon_27 {
    background-position: 50% -594px
}